body{
    background-size: cover;
    background-repeat: no-repeat;
}
img {
    border-radius: 50%;
  }
h3{
    color: rgb(93, 93, 185);
}
h2{
    margin-bottom: auto;
}
button:hover{
    color: red;
    background-color: black !important;
}
.details{
    text-align: center;
    background-position: center;
}
.career objective{
    text-align: center;
}
.contact{
    background-image: url(my.jpg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
body{
    background-image: url("ba.jpg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
